/****************************************************
*	11/09/2019
*	WR3D Engine WebGL2.0 
*	https://github.com/maxcccp
* 	© Max ( https://mbprogrammer.com ) 
*	For learning JavaScript and WebGL...
*****************************************************/



/* teg <BODY> */
body{	
	/*background-size: cover;*/
	/*background:url(../img/img.jpg), no-repeat center;*/
	margin: 0;
	background-color: #555;
}

/* teg <P> */
span,a,p {
	color: white;
	text-decoration:none;
}

/* teg <CANVAS>*/
canvas {
 width: 100vw;
 height: 100vh;
 display: block;
}

/*Information block.*/
.divInfo{
	/*background-color: #555;*/
	padding-top:  10px;
	padding-left:  15px;
	/*border: 2px solid white;*/
	border-radius: 20%;
	height: 90px;
	width: 150px;
	position: absolute;
	top: 10px;
	left:10px;
}

/* Logo mb3D in information block.*/
.font-effect-3d{
	margin-left: 5px;
 	font-family: 'Arial' | 'Satisfy', serif;
 	font-size: 38px;
}

.text-info-center{
	font-family: 'Arial' | 'Satisfy', serif;
}

/* ing logo mb*/
#mb-logo{
	margin-left: 22px;
	width: 60px;
	height: 60px;
}

/* loding imgs of document html. hide any them*/
.mb-testure2D-resource{
	position: absolute;
	opacity: 0;
	visibility: hidden;//visible
}



/* div app game menu */
#mb3DAppMenu{
	width:500px;
	height:550px;
	position: fixed;
	left:50%;
	top:50%;
	transform :translate(-50%,-50%);
	dorder :1px colid red;
	color:#f82;
	fontSize:38px;
	paddingLeft:30px;
	paddingTop:20px;
	backgroundSize:cover;
	background:#262626 url('img/screenSaver.jpg');
	opacity:0.5; 
}